@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;

}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #F2F2F2;
  margin: 0;
  height: 100%;
}

.page-container {
  background-color: #ffffff;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  width: 1200px;
  margin: 0 auto;
}

.page-header {
  width: 1060px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
}

.content-wrapper {
  width: 1060px;
  margin: 0 auto;
}

.header-logo-link {
  position: relative;
  text-decoration: none;
  color: inherit;
  display: block;
  width: 140px;
}

.navigation-logo {
  position: absolute;
  z-index: 1;
}

.navigation {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 530px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.navigation-item {
  color: #000000;
  font-size: 20px;
  line-height: 24px;
}

.navigation-link-current::after {
  content: "";
  /*display: block;*/
  /*margin: auto;*/
  width: calc(100% - 32px);
  background-color: #756257;
  height: 2px;
  position: absolute;
  left: 16px;
  right: 16px;
  bottom: 0;

}

.navigation-link-current {
  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  text-decoration: none;
  color: inherit;

}

.navigation-link:hover {
  background-color: #E6E6E6;
}


.navigation-user {
  width: 360px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-start;
}

.navigation-user-link {
  padding: 22px 12px;
}

.navigation-search {
  background-image: url("../image/search.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  padding: 32px 22px;
}

.navigation-favourites {
  position: absolute;
  top: 9px;
  right: 2px;
  text-align: center;
  padding: 5px;
  border-radius: 50%;
  min-width: 20px;
  min-height: 20px;
  color: #ffffff;
  font-size: 10px;
  line-height: 10px;
  background-color: #7DB54F;
}

.navigation-favourites-link {
  background-image: url("../image/heart-header.svg");
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 20px 20px;
  padding: 32px 22px;
  position: relative;
}

.navigation-button-wrapper {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.navigation-user-button {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 20px;
  background-color: #756157;
  /* min-height: 36px;*/
  /* width: 160px;*/
  min-width: 160px;
  text-align: center;
  padding: 10px;
  border-radius: 4px;
}

.navigation-user-button:hover,
.navigation-user-button:focus {
  background-color: #615048;
  outline: none;
}

.navigation-user-button:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.main-container {
  flex-grow: 1;
}

.wellcome {
  background-color: rgba(131, 179, 211, 0.2);
  background-repeat: no-repeat;
  background-image: url("../image/main-index-background.jpg");
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 80px;
  text-align: center;
  position: relative;
}

.wellcome-img {
  display: block;
  margin: 0 auto;

}

.wellcome::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  /*1200px;*/
  height: 57px;
  bottom: -1px;
  background-image: url("../image/divider.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  z-index: 1;
}

.advantages-slogan-wrapper {
  min-width: 660px;
  padding: 70px;
}

.advantages-slogan {
  margin: 0 auto;
  padding: 0;
}

.advatages-reasons {
  font-size: 22px;
  line-height: 26px;
}

.advantages-item-img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.advantages,
.service,
.search-hotel {
  text-align: center;
}

.advantages-item-caption {
  margin: 0;
  padding: 0 80px;
}

.advantages-item-caption::after {
  content: "";
  display: block;
  width: 60px;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 30px auto;
}

.advantages-item-text {
  margin: 0;
  padding: 0 15px;
}

.advantages-slogan,
.service-slogan,
.search-hotel-caption,
.search-result-desc {
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  color: #000000;
  text-transform: uppercase;
}

.search-result-desc {
  width: 400px;
  margin: 0;
  padding: 0;
  margin-right: 135px;
}

.advantages-item-caption,
.service-caption {
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  text-transform: uppercase;
}

.advantages-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item:not(:last-child, :first-child) {
  width: 400px;
}

.advantages-item-caption::after {
  background-color: rgba(0, 0, 0, 0.3);
}

.advantages-item:nth-child(even) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item:nth-child(odd) {
  color: #000000;
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item:first-child,
.advantages-item:last-child {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-caption::after {
  background-color: rgba(255, 255, 255, 0.3);
}

.advantages-text-box {
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  box-sizing: border-box;
  width: 400px;
  min-height: 385px;
  justify-content: center;
}

.service-text {
  margin: 0;
}

.service-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.service-item {
  box-sizing: border-box;
  width: 400px;
  padding: 30px;
  /*padding: 85px 81px;*/
  min-height: 385px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.service-desc,
.search-hotel-text,
.footer-subscribe-text {
  font-size: 22px;
  line-height: 26px;
}

.service-item:nth-child(odd) {
  background-color: rgba(131, 179, 211, 0.12);
}

.service-caption {
  color: #000000;
  margin: 0;
  padding: 0;
  margin-bottom: 30px;
}

.home-icon::before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../image/service-house-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.food-icon::before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../image/service-food-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.souvenir-icon::before {
  content: "";
  width: 75px;
  height: 72px;
  display: block;
  margin: 0 auto;
  background-image: url("../image/service-souvenir-icon.svg");
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}

.service-slogan,
.service-desc {
  margin: 0;
  padding: 0;
}

.service-slogan {
  margin-bottom: 20px;
}

.service-text-wrapper {
  padding: 64px 70px;
}

.search-hotel-wrapper {
  padding: 96px 70px;
}

.search-hotel-caption {
  margin: 0;
  padding: 0;
}

.search-hotel-link {
  display: inline-block;
  box-sizing: border-box;
  vertical-align: center;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  background-color: #756157;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
  min-width: 376px;
  padding: 8px;
}

.search-hotel-link:hover,
.search-hotel-link:focus {
  background-color: #615048;
  /*outline: none;*/
}

.search-hotel-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-hotel-text {
  margin-bottom: 54px;
}

.footer-subscribe {
  background-color: rgba(131, 179, 211, 0.2);
  background-image: url(../image/subscribe-background.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  text-align: center;
}

.footer-subscribe-wrapper {
  /*  width: 684px;*/
  margin: 0 auto;
  padding: 96px 70px 104px 70px;
}

.footer-subscribe-catalog {
  padding-top: 96px 70px 104px 70px;
  text-align: center;
}

.footer-catalog-caption {
  color: #000000;
  text-align: center;
  font-size: 30;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.footer-subscribe-caption {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.footer-subscribe-text {
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 54px;
}

.footer-catalog-text {
  color: #333333;
  font-size: 22px;
  line-height: 26px;
}

.footer-subscribe-form {
  display: grid;
  grid-template-columns: 452px 232px;
  min-height: 52px;
  justify-content: center;
}

.footer-contacts {
  color: #000000;
}

.footer-contacts-link {
  color: inherit;
  font-size: 40px;
  line-height: 40px;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer-input {
  font-family: inherit;
  font-size: inherit;
  background-color: #F2F2F2;
  color: #000000;
  border-radius: 4px 0 0 4px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
}

.page-footer-input:hover {
  background-color: #E6E6E6;
}

.page-footer-input:focus {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.page-footer-input:active {
  outline: 2px solid #000000;
  outline-offset: -2px;
}

.email-btn {
  color: #ffffff;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  text-transform: uppercase;
  border-radius: 0 4px 4px 0;
  border: none;
  font-family: inherit;
}

.email-btn:hover,
.email-btn:focus {
  background-color: #68A2CA;
  outline: none;
}

.email-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

/*CATALOG.HTML */

.header-accomodations-box {
  background-color: rgba(130, 165, 191);
  background-image: url("../image/filter-background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 70px;
}

.inner-header {
  margin-bottom: 40px;
}

.accomodations-filter {
  display: flex;
  justify-content: space-between;
}

.accomodations-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.accomodation-filter-wrapper:first-child {
  /*width: 371px;*/
  display: grid;
  grid-template-columns: 150px 150px;
  column-gap: 70px;
  row-gap: 35px;
}

.accomodation-filter-wrapper:last-child {
  /*width: 550px;*/
  display: grid;
  grid-template-columns: 290px 190px;
  gap: 70px;
}

.range-wrapper {
  display: flex;
  flex-direction: column;
}

.range:not(:first-child) {
  margin-top: 30px;
}

.range {
  display: flex;
  flex-direction: column;
}

.price-box:not(:first-child) {
  margin-top: 15px;
}

.range-wrapper-inputs {
  display: flex;
  margin-bottom: 36px;

}

/*.inputs-wrapper:not(:first-child,:last-child) {
  margin-bottom: 2px;
}*/

.inner-header-title {
  font-size: 60px;
  line-height: 78px;
  font-weight: 700;
  margin: 0 0 8px 0;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item {
  margin-right: 10px;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.breadcrumbs-item:not(:first-child)::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background-image: url("../image/breadcrumbs-arrow.svg");
  background-repeat: no-repeat;
  margin-right: 10px;
  background-position: center center;
}

.breadcrumbs-link {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  display: block;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: #ffffff;
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-home {
  background-image: url("../image/breadcrumbs-home.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 12px;
  height: 12px;
  display: block;
}

.accomodation-filter {
  margin: 0;
  padding: 0;
}

.accomodations-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}

.accomodation-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accomodation-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.control {
  line-height: 23px;

  position: relative;
  padding-left: 36px;
}

.control-input {
  margin: 0;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 4px;
  left: 0;
  top: 2px;
  background-color: #ffffff;

}

.control-input[type="checkbox"]:checked+.control-mark {
  background-image: url("../image/checkbox-mark.svg");
  /*#3F5E72*/
  background-repeat: no-repeat;
  background-position: center center;
}

.control:hover .control-mark {
  background-color: #A9C4DA;
}

.control:hover .control-label {
  color: #A9C4DA;
}

.control:active .control-mark {
  background-color: #99B7D1;
}

.control:active .control-label {
  color: #99B7D1;
}

.control:focus-visible .control-mark {
  background-color: #ffffff;
}

.control:focus-visible .control-label {
  color: #ffffff;
}

.control-input[type="radio"]+.control-mark {
  border-radius: 50%;
}

.control-input[type="radio"]:checked+.control-mark::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #3F5E72;
  border-radius: 50%;
  top: 5px;
  left: 5px;


}

/*.control-input:disabled .control-mark {

}*/

.wrapper-before {
  position: relative;
}

.wrapper-after {
  position: relative;
}

.before-row-input {
  width: 144px;
  padding: 13px 45px 13px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 4px 0 0 4px;
  margin-right: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}

.after-row-input {
  width: 144px;
  padding: 13px 45px 13px 20px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.after-row-input::-webkit-inner-spin-button,
.after-row-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.before-row-input::-webkit-inner-spin-button,
.before-row-input::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

/*.before-row-input:first-child{
  border-radius: 4px 0 0 4px;
  margin-right:2px;
}
.before-row-input:last-child{
  border-radius: 0 4px 4px 0;
}*/

.before-row-input:hover,
.after-row-input:hover {
  background-color: #E6E6E6;
}

.before-row-input:focus-visible,
.after-row-input:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
  outline-offset: -3px;
}

.before-row-input:active,
.after-row-input:active {
  /* курсор внутри???*/
  outline: 2px solid #000000;
  background-color: #F2F2F2;
}

.before-row-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 13px;
  right: 22px;

}

.after-row-text {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  /*right:0;*/
  top: 13px;
  right: 22px;
  z-index: 1;
}

.range-scale {
  position: relative;
  background-color: rgba(161, 164, 164, 1);
  height: 4px;
  /*opacity:30%; проверить!*/
}

.range-bar {
  position: absolute;
  background-color: #ffffff;
  height: 4px;
}

.range-toggle {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background-color: #ffffff;
  position: absolute;
  border: none;
  cursor: pointer;
}

.toggle-min {
  top: -8px;
  left: 0;
}

.toggle-max {
  top: -8px;
  right: 0;
}

.search-result {
  padding-top: 50px;
  padding-bottom: 60px;
}

.search-result-wrapper {
  display: flex;
  align-items: baseline;
}

.search-result-list {
  margin: 0 auto 40px 0;
  padding: 40px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  gap: 20px;
}

.search-result-img {
  display: block;
  max-width: 100%;
  height: 100%;
}

.rating-text {
  margin: 0;
  font-size: 16px;
  min-width: 140px;
  border-radius: 4px;
  padding: 8px 5px;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-item {
  color: #ffffff;
  min-width: 60px;
  min-height: 60px;
  margin-right: 8px;
  background-color: #82B3D3;
  text-align: center;
  border-radius: 4px;
}

.pagination-link {
  display: block;
  padding: 15px;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

.pagination-current {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-link:hover:not(.pagination-current>.pagination-link),
.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active:not(.pagination-current>.pagination-link) {
  color: rgba(255, 255, 255, 0.3);
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px 11px;
}

.footer-contacts-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-social {
  width: 190px;
}

.footer-logo-wrapper {
  width: 115px;
}

.accomodation-filter {
  margin: 0;
  padding: 0;
}

.accomodations-filter-item:first-child {
  width: 151px;
  margin-right: 70px;
}

.accomodations-filter-item:nth-child(2) {
  width: 151px;
  margin-right: 167px;
}

.accomodations-filter-item:nth-child(3) {
  width: 288px;
  margin-right: 70px;
}

.accomodations-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 33px;
}

.accomodation-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.accomodation-filter-item:not(:last-child) {
  margin-bottom: 16px;
}

.accomodations-buttons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 56px;
}

.accomodation-btn:not(:last-child) {
  margin-bottom: 32px;
}

.accomodation-btn,
.accomodation-btn-reset {
  box-sizing: border-box;
  color: inherit;
  font-family: inherit;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  padding: 8px 5px;
  border-radius: 4px;
  border: none;
  /* min-height: 36px;*/
}

.accomodation-btn {
  background-color: #82B3D3;
}

.accomodation-btn:hover,
.accomodation-btn:focus {
  background-color: #68A2CA;
  outline: none;
}

.accomodation-btn:active {
  color: rgba(255, 255, 255, 0.3);
}

.accomodation-btn-reset {
  background-color: transparent;
}

.accomodation-btn-reset:hover {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
}

.accomodation-btn-reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.accomodation-btn-reset:focus {
  outline: 3px solid #83B3D3;
  background-color: transparent;
  border-radius: 4px;
}

.select-control {
  font-family: inherit;
  font-size: inherit;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
  width: 292px;
  padding: 10px 20px;
  margin-right: 70px;
  appearance: none;
  background-image: url(../image/select-arrow.svg);
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-position: center right 20px;
}

.select-control:hover {
  border-color: #68A2CA;
}

.select-control:focus-visible {
  outline-color: #68A2CA;
}

.select-control:focus {
  border-color: #3F5E72;
}

.select-control:disabled {
  border-color: rgba(0, 0, 0, 0.3);
  color: rgba(0, 0, 0, 0.3);
}

.search-result {
  padding-top: 50px;
  padding-bottom: 60px;
}

.search-result-wrapper {
  display: flex;
  align-items: center;
}

.search-result-list {
  margin: 0 auto 40px 0;
  padding: 40px 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  grid-template-rows: auto;
  gap: 20px;

}

.search-result-img,
.search-result-card {
  display: block;
  max-width: 100%;
  height: 100%;
  /*НАДО ЛИ ЗДЕСЬ МАКС ШИРИНУ И ВЫСОТУ? КАРТИНКА КОНТЕНТНАЯ.А ВДРУГ ПОСТАВЯТ БОЛЬШЕ КАРТИНКУ?*/
}

.search-result-card {
  margin-bottom: 16px;
}

.search-result-item {
  display: grid;
  grid-template-columns: 140px 140px;
  grid-template-rows: 212px 1fr;
  row-gap: 16px;
  column-gap: 20px;
  box-sizing: border-box;
  padding: 20px;
  width: 340px;
  border: 1px solid #E6E6E6;
  align-items: start;
}

.search-result-card {
  grid-column: 1/-1;
}

.search-result-price,
.search-result-type {
  margin: 0;
}

.search-result-starsbox {
  display: flex;
  flex-wrap: wrap;

  align-self: center;
}


.search-result-price {
  justify-self: end;
  text-align: right;
}

.search-result-hotel {
  grid-column: 1/3;
  font-size: 24px;
  line-height: 28px;
  font-weight: 700;
  color: #000000;
  margin: 0;
}

.search-result-link {
  background-color: #756157;
  color: #ffffff;
  text-decoration: none;
  display: block;
  box-sizing: border-box;
  min-width: 140px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 10px 5px;
  text-align: center;
  border-radius: 4px;
}

.search-result-link:hover,
.search-result-link:focus {
  background-color: #615048;
}

.search-result-link:active {
  background-color: #756157;
  color: rgba(255, 255, 255, 0.3);
}

.search-result-button {
  font-family: inherit;
  /*min-width: 140px;*/
  background-color: #82B3D3;
  padding: 10px 5px;
  text-transform: uppercase;
  color: #ffffff;
  border: none;
  border-radius: 4px;
  align-self: stretch;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}

.search-result-button:hover,
.search-result-button:focus {
  background-color: #68A2CA;
}

.search-result-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.search-result-button:disabled {
  background-color: #E5E5E5;
  /*не работает*/
}

.pressed-button {
  background-color: #7DB54F;
}

.pressed-button:hover,
.pressed-button:focus {
  background-color: #6C9E42;
}

.pressed-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.rating-star {
  background-image: url(../image/star.svg);
  background-repeat: no-repeat;
  background-position: center center;
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 6px;
}

.rating-text {
  margin: 0;
  font-size: 16px;
  /* min-width: 140px;*/
  border-radius: 4px;
  padding: 8px 5px;
  box-sizing: border-box;
  line-height: 20px;
  background-color: #F2F2F2;
  text-transform: uppercase;
  text-align: center;
}

.pagination {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.pagination-link {
  display: block;
  min-width: 23px;
  min-height: 36px;
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  /*background-color: #82B3D3;
  color: #ffffff;*/
  border-radius: 4px;
}


.button-cards-wrapper {
  width: 160px;
  /*display: flex;
   flex-wrap: wrap;*/
  display: grid;
  grid-template-columns: 48px 48px 48px;
  min-height: 48px;
  gap: 8px;
}

.button-many-cards {
  display: block;
  background-image: url("../image/view-icon-1.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 14px;
}

.button-cards {
  padding: 23px 23px;
  outline: 2px solid #E5E5E5;
  border-radius: 4px;
}

.button-cards:hover,
.button-cards:active {
  outline-color: #000000;
}

.button-cards:focus {
  outline-color: #68A2CA;
}

.button-one-card {
  display: block;
  background-image: url("../image/view-icon-2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 14px;
}

.button-list-cards {
  display: block;
  background-image: url("../image/view-icon-3.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 16px 14px;
}

.footer-social-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.footer-social {
  width: 190px;
  align-self: center;
}

.footer-contacts {
  width: 375px;
}

.footer-logo-wrapper {
  width: 115px;
}

.footer-social-icon {
  fill: #83B3D3;
}

.footer-social-link:hover svg,
.footer-social-link:focus svg {
  fill: #68A2CA;
}

.footer-social-link:active svg {
  fill: rgba(104, 162, 202, 0.3);
}

/*.link:focus,.button:focus {
  outline: none;
}*/

.button {
  cursor: pointer;
}

.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: #756157;
}

.footer-contacts-link:active {
  color: rgba(117, 97, 87, 0.3);
}

.footer-logo {
  fill: #000000;
}

.footer-logo-link:hover svg,
.footer-logo-link:focus svg {
  fill: #756157;
}

.footer-logo-link:active svg {
  fill: rgba(117, 97, 87, 0.3);
}

.button:disabled {
  background-color: #E5E5E5;
}

.accomodation-btn-reset:disabled {
  color: rgba(255, 255, 255, 0.1);
}

/*МОДАЛЬНОЕ ОКНО*/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(242, 242, 242, 0.8);
  z-index: 2;
}

.modal-container-close {
  /*Для скрытия Модального окна*/
  display: none;
}

.modal {
  background-color: #ffffff;
  margin: auto;
  padding: 64px 70px;
  position: relative;
  width: 717px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  z-index: 2;
}

.modal-content {
  width: 577px;
}

.modal-close-button {
  position: absolute;
  right: 47px;
  top: 62px;
  width: 53px;
  height: 53px;
  background-color: #F2F2F2;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
  background-image: url("../image/modal-close-mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.modal-close-button:hover {
  background-color: #E6E6E6;
}

.modal-close-button:active {
  background-color: #E6E6E6;
  opacity: 0.3;
}

.modal-close-button:focus-visible {
  background-color: #E6E6E6;
  outline: 3px solid #83B3D3;
}

.modal-title {
  margin: 0;
  margin-bottom: 64px;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
}

.modal-form {
  display: grid;
  grid-template-rows: auto auto auto 60px;
}

.field-group {
  display: grid;
  grid-template-columns: 137px 440px;
  grid-template-rows: 48px 48px;
  /* column-gap:42px;*/
  margin: 0;
}

.modal-field-caption {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  align-self: center;
}

.modal-field-caption:nth-child(3) {
  position: relative;
  background-color: green;
}

.modal-field {
  border: none;
  margin: 0;
  background-color: #F2F2F2;
  background-image: url("../image/modal-field-calender.svg");
  background-repeat: no-repeat;
  background-position: center right 20px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  padding-left: 20px;
  padding-right: 60px;
  cursor: pointer;
}

.modal-field-row {
  grid-column: 2/3;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 4px;
  font-size: 16px;
  line-height: 21px;
}

/*Класс для указания ошибки введения даты*/
.modal-field-row-failure {
  color: #FF5757;
}

.field-group:nth-child(3) {
  display: grid;
  grid-template-columns: 247px 242px;
  justify-content: space-between;
}

.modal-link {
  display: block;
  width: 26px;
  height: 26px;
  background-color: #82B3D3;
  border-radius: 50%;
  background-image: url("../image/tooltip-mark.svg");
  background-repeat: no-repeat;
  background-position: center center;
  align-self: center;
  margin-left: 10px;
}

.field-group-quantity {
  display: grid;
  grid-template-columns: auto 110px;
  /*110px 85px;*/
  justify-content: space-between;
}

.field-group-quantity:last-child {
  grid-template-columns: min-content 1fr 110px;
  justify-content: flex-end;
}

.modal-field-quantity {
  width: 31px;
  height: 48px;
  border: none;
  background-color: #F2F2F2;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  font-family: inherit;
  cursor: pointer;
}

.modal-field-quantity::-webkit-inner-spin-button,
.modal-field-quantity::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.modal-buttons-wrapper {
  display: flex;
  width: 110px;
}

.modal-quantity-button {
  background-color: #F2F2F2;
  border: none;
  cursor: pointer;
  width: 40px;
}

.modal-form-button {
  background-color: #83B3D3;
  border: none;
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.button-decrease {
  background-image: url("../image/minus.svg");
  background-repeat: no-repeat;
  background-position: center;
}
